<mat-toolbar layout-align="center center" color="primary">
  <h1>SuperMarket</h1>
  <span class="spacer"></span>
  <div>
    Products

    <mat-icon>shopping_cart</mat-icon>:
    {{ (state.list$ | async)?.length }}
  </div>
</mat-toolbar>

<div class="container" fxLayoutAlign="center">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="70%">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="80%">
        <!-- PRODUCTS -->
        <mat-card class="cards">
          <mat-card-header>
            <mat-card-title>
              <h2>Products</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayoutAlign="center">
              <app-products [data]="state.items$ | async"  (selected)="state.addProduct($event)"></app-products>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="80%">

        <!-- List -->
        <mat-card class="cards">
          <mat-card-header>
            <mat-card-title>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <h2>List</h2>
                <mat-form-field>
                  Remove products
                  <!-- TODO: Implement filter list -->
                  <input matInput #term type="text" (keydown.enter)="state.filterList(term.value); term.value=''"/>
                </mat-form-field>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-list [data]="state.list$ | async" (remove)="state.removeProduct($event)"></app-list>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
</div>
